<!-- Seitennavigation -->
<%- partial('partials/sidebar') %>

<!-- Seiteninhalt -->
<div class="eight columns">
	<p><%= feeds[0].name %></p>
	<ul id="tabSelector" class="base-tabs show-for-small">
		<li class="on">Kategorien</li>
		<li>Meine Feeds</li>
		<li>Favoriten</li>
	</ul>

	<div id="tabs">
		<ul>
			<!-- Page 1 -->
			<li style="display:block">
				<%- partial('partials/sliderButtons') %>
				<ul class="block-grid three-up">
					<% for (var i=0; i<6; i++) { %>
					<li>
						<figure>
							<div id="feed_image">
								<img src="http://lorempixel.com/128/128" />
								<span class="notification">1</span>
							</div>
							<figcaption>Bildunterschrift</figcaption>
						</figure>
					</li>
					<% } %>
					<li>
 	           			<figure>
							<div id="feed_image">
								<img src="images/fallback.png" />
								<span class="notification">1</span>
								<span class="feed-character"> Z</span>
							</div>
							<figcaption>Bildunterschrift</figcaption>
						</figure>
					</li>
				</ul>
			</li>

			<li style="display:none">
				<%- partial('partials/sliderButtons') %>
				<ul class="block-grid three-up">
					<% for (var i=0; i<4; i++) { %>
					<li>
						<figure>
							<div id="feed_image">
								<img src="http://lorempixel.com/128/128" />
								<span class="notification">1</span>
							</div>
							<figcaption>Bildunterschrift</figcaption>
						</figure>
					</li>
					<% } %>
				</ul>
			</li>
			<li style="display:none">
				<%- partial('partials/sliderButtons') %>
				<ul class="block-grid three-up">
					<% for (var i=0; i<9; i++) { %>
					<li>
						<figure>
							<div id="feed_image">
								<img src="http://lorempixel.com/128/128" />
								<span class="notification">1</span>
							</div>
							<figcaption>Bildunterschrift</figcaption>
						</figure>
					</li>
					<% } %>
				</ul>
			</li>

		</ul>
	</div>

</div>