<!-- Seitennavigation -->
<%- partial('partials/sidebar') %>

<!-- Seiteninhalt -->
<div class="eight columns m-artikel">
	<ul>
		<h2><%= currentFeed.title %></h2>
		<% for (var i = 0; i < articles.length; ++i) { %>
		<li class="artikel clearfix">
			<a href="/articles/<%= articles[i]._id %>">
				<% if (articles[i].image) { %>
				<img src="<%= articles[i].image %>" />
				<% } %>
				<h4><%= articles[i].title %></h4>
				<!-- TODO: Only show preview text, no HTML tags -->
				<p><%= articles[i].summary.substr(0, 600) %></p>
			</a>
		</li>
		<% } %>
	</ul>
</div>