<!-- Seitennavigation -->
<%- partial('partials/sidebar') %>

<!-- Seiteninhalt -->
<div class="eight columns m-artikel">
	<ul>
		<%= articles.length %>
		<% for (var i = 0; i < articles.length; ++i) { %>
		<li>
			<a href="/articles/<%= articles[i]._id %>">
				<h4><%= articles[i].title %></h4>
				<p><%= articles[i].text %></p>
			</a>
		</li>
		<% } %>
	</ul>
</div>