<!-- Seitennavigation -->
<%- partial('partials/sidebar') %>

<!-- Seiteninhalt -->
<div class="eight columns m-article">
	<%- partial('partials/sliderButtons', {pageTitle: currentFeed.title}) %>
	<div id="articleSwipe">
		<div>
			<article style="display: block">
				<h2><a href="<%= article.link %>"><%= article.title %></a></h2>
				<% var date = article.updated_at %>
				<div class="date"><%= date.getHours() %>:<%= date.getMinutes() %> am <%= date.getDay() %>.<%= date.getMonth() %>.<%= date.getFullYear() %></div>
				<div class="content">
					<%- article.text %>
				</div>
			</article>
			<!-- Some more articles to swipe through -->
			<% for (var i = 0; i < articles.length; ++i) { %>
			<% if (articles[i]._id.id === article._id.id) { continue } %>
			<article style="display: block">
				<h2><a href="<%= article.link %>"><%= articles[i].title %></a></h2>
				<% var date = articles[i].updated_at %>
				<div class="date"><%= date.getHours() %>:<%= date.getMinutes() %> am <%= date.getDay() %>.<%= date.getMonth() %>.<%= date.getFullYear() %></div>
				<div class="content">
					<%- articles[i].text %>
				</div>
			</article>
			<% } %>
		</div>
	</div>
</div>