<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/stylesheets/foundation.css">
	<link rel="stylesheet" href="/stylesheets/app.css">
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/stylesheets/ie.css">
	<![endif]-->
</head>

<% if (settings.dark) { %>
<body class="dark">
<% } else { %>
<body>
<% } %>
	<!-- Header -->
	<header>
		<!-- Logo -->
		<div class="logo">
			<h1 class="row"><a href="/">inForm</a></h1> 
		</div>
		<!-- Toolbar -->
		<div class="toolbar">
			<ul class="row">
				<% if (!user) { %>
				<li>
					<a href="/login" data-reveal-id="modalLogin">
						<span class="symbol">U</span><span class="hide-for-small toolTitle">Login</span>
					</a>
				</li>
				<li>
					<a href="/register" data-reveal-id="modalRegister">
						<span class="symbol">d</span><span class="hide-for-small toolTitle">Registrieren</span>
					</a>
				</li>
				<% } else { %>
				<li class="button dropdown">
				<!-- <li class="button custom-dropdown"> -->
					<div>					
						<span class="symbol">U</span><span class="hide-for-small toolTitle"><%= user.name %></span>
					</div>
					<ul>
						<!-- <li><a href="/settings">Einstellungen</a></li> -->
						<li><a href="/logout">Logout</a></li>
					</ul>
				</li>
				<li class="button custom-dropdown">
					<div>					
						<span class="symbol">S</span><span class="hide-for-small toolTitle">Einstellungen</span>
					</div>
					<div class="dropdown-content">
						<p>Schriftgröße</p>
						<a href="#" id="decrease-font" class="font-button">-</a>
						<a href="#" id="increase-font" class="font-button">+</a>

						<p>Lesemodus</p>
			
						<a href="#" id="theme-light" class="symbol theme-button">T</a>
						<a href="#" id="theme-dark" class="symbol theme-button">T</a>
					</div>
				</li>
				<li class="disabled">
					<a href="#">
						<span class="symbol">R</span><span class="hide-for-small toolTitle">Favorit</span>
					</a>
				</li>
				<li>
					<a href="#" data-reveal-id="modalAddFeed">
						<span class="symbol">+</span><span class="hide-for-small toolTitle">Feed hinzufügen</span>
					</a>
				</li>
 				<li class="disabled">
					<a href="#" data-reveal-id="modalDeleteFeed">
						<span class="symbol">-</span><span class="hide-for-small toolTitle">Feed löschen</span>
					</a>
				</li> 
				<% } %>
			</ul>
		</div>
	</header>

	<div class="row">
		<%- body %>
	</div>

	<footer class="row">
    </footer>

    <!-- Modals -->
    <% if (!user) { %>
	<div id="modalLogin" class="reveal-modal modal login">
		<h4>Einloggen</h4>
		<%- partial('partials/login') %>
		<a class="close-reveal-modal symbol">×</a>
	</div>
	<div id="modalRegister" class="reveal-modal modal register">
		<h4>Registrieren</h4>
		<%- partial('partials/register') %>
		<a class="close-reveal-modal symbol">×</a>
	</div>
	<% } %>
	<div id="modalAddFeed" class="reveal-modal modal add-feed">
		<%- partial('partials/add_feed') %>
		<a class="close-reveal-modal symbol">×</a>
	</div>
	<div id="modalDeleteFeed" class="reveal-modal modal delete-feed">
		<%- partial('partials/delete_feed') %>
		<a class="close-reveal-modal symbol">×</a>
	</div>

	<!-- JavaScript -->
	<script src="/javascripts/modernizr.foundation.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/swipe.js"></script>
	<script src="/javascripts/tabs.js"></script>
	<script src="/javascripts/gallery.js"></script>

	<!-- additional foundation3 scripts -->
	<script src="/javascripts/jquery.customforms.js"></script>
	<script src="/javascripts/jquery.orbit-1.4.0.js"></script>
	<!-- <script src="/javascripts/jquery.placeholder.min.js"></script> -->
	<script src="/javascripts/jquery.reveal.js"></script> 
	<!-- <script src="/javascripts/jquery.tooltips.js"></script> -->

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- LiveReload -->
	<!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->
</body>
</html>